<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    
    <property name="logPath" value="./logs"/>
    <property name="applicationName" value="iot-modbus"/>
    <property name="formatpattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Shanghai} [%t] %-5level %logger{50} [%file : %line] - %msg%n"/>
    <property name="maxhis" value="7"/>
    <property name="maxsize" value="100MB"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${formatpattern}</pattern>
            <!-- <charset>UTF-8</charset> -->
        </encoder>
    </appender>
    
    <appender name="ALL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${applicationName}-all.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/history/${applicationName}-all.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxHistory>${maxhis}</maxHistory>
            <maxFileSize>${maxsize}</maxFileSize>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${formatpattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logPath}/${applicationName}-error.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/history/${applicationName}-error.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxHistory>${maxhis}</maxHistory>
            <maxFileSize>${maxsize}</maxFileSize>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${formatpattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    <appender name="MYBATIS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${applicationName}-mybatis.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/history/${applicationName}-mybatis.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>15MB</maxFileSize>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${formatpattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    
<!--        <logger name="org.mybatis" additivity="false">-->
<!--            <appender-ref ref="MYBATIS_FILE"/>-->
<!--            <appender-ref ref="STDOUT"/>-->
<!--        </logger>-->
    
    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERROR_FILE"/>
        <appender-ref ref="ALL_FILE"/>
    </root>

</configuration>